nav
    div(class="nav-list")
        each item in nav
            a(href=item.link) #{item.name}

div(class="header")
    div(class="motto")
        p(class="upper") Talk is cheap
        p(class="lower") Show me the code
